.formContainer{
  padding: 30px 35% 0 35%;
  .userForm{
    text-align: center;
    color: #fff;
    font-weight: bold;
    // background-color: rgba(226, 213, 213, 0.767);
    // border-radius: 30px;
    padding: 25px;
    .logo{
      margin: 0 auto;
      width: 150px;
    }
    ul{
      li{
        margin-top: 25px;
        h2{
          font-size: 50px;
        }
        input{
          font-weight: bold;
          padding: 15px 25px;
          background: #fff;
          border: none;
          border-radius: 30px;
          font-size: 20px;
          &:focus{
            outline: none;
            background: rgba(247, 247, 247, 0.884);        
          }
        }
        .submit{
          background: $yellow;
          color: $blue;
          cursor: pointer;
          &:hover{
            background: $red;
            color: #fff;
          }
        }
        a{
          display: block;
          color: #fff;
          font-size: 20px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
